* {
    box-sizing: border-box; 
}

html, body{
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42; 
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main__overlay {
    position: absolute;
    width:100%;
    height:100vh;
    background-color:#232d50;
    opacity:0.78;
}

.main {
    height: 100vh;
    min-height: 650px;
    background: url(../img/bg/Layer_2.png) center/cover no-repeat;
    color: #ffffff;
    position: relative;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1400px;
	
}

.header {
	background-color: #15263e;
	position: relative;
}

.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
	letter-spacing: 0.1em;
	font-size: 20px;
}

.nav__link {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}

.nav__item {

}

.nav__item::after {
	content: "-";
	font-weight: 800;
	display: inline-block;
	vertical-align: middle;
	margin: 0 1.2rem 0 1rem;
}

.nav__item:last-child::after {
	content: "";
	margin: 0

}

.main__content {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	text-transform: uppercase;
	font-weight: 200;
}


.main__text {

}

.main__prediction {
	font-size: 56px;
	font-weight: 600;
	margin: 5px 0;
	line-height: 1;
	word-spacing: 0.2em;
	letter-spacing: 0.1em;

}
.main__title {

}

.main__title-firstpart {
	font-size: 170px;
	font-weight: 600;
	margin: 5px 0;
	line-height: 0.8;
	letter-spacing: 0.05em;
	background: linear-gradient(49deg, #a21af0 40%, #ff0072 60%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.main__title-secondpart {
	font-size: 80px;
	font-weight: 600;
	margin: 5px 0;
	line-height: 1;
	letter-spacing: 0.3em;
}

.main__desc {
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0;
	line-height: 0.5;
	word-spacing: 0.3em;
}

.main__btn {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main__btn-link {
	padding: 20px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
	background: linear-gradient(49deg, #a21af0 30%, #ff0072 80%);
	font-size: 22px;
	
}

.about__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0;
	background: url(../img/bg/Layer_3.png) center/contain no-repeat;
}

.about__content-text {
	width: 30%;
	min-width: 200px;
	text-align: right;
}

.about__title {
	text-transform: uppercase;
	font-size: 42px;
	margin-bottom: 0;
	line-height: 0.8em;
	color: #15263e;
}

.about__title-prediction {
	text-transform: uppercase;
	font-size: 24px;
	color: #a21af0;
	letter-spacing: 0.1em;
	margin: 0;
	padding-bottom: 35px;
}

.about__desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.08em;
	color: #494949;
}

.about__content-statistic {
	width: 25%;
	min-width: 200px;
}

.about__statistic-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #4d4d4d;
}

.about__statistic-item {
	padding: 22px 0;

}

.about__statistic-value {
	text-transform: uppercase;
	font-size: 24px;
	padding-bottom: 15px;

}

.about__statistic-line {
	height: 16px;
	background: linear-gradient(49deg, #a21af0 40%, #ff0072 60%);
	border-radius: 15px;
}

.about__info {
	background-color: #dcdcde;
	padding: 50px;
}

.about__info-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__info-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info__image {
	background-color: #374362;
	width: 80px;
	height: 80px;
	border-radius: 50px;
}

.info__pic {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.info__text {
	color: #4d4d4d;
	padding-left: 30px;
}

.info__title {
	text-transform: uppercase;
	font-size: 22px;


}

.info__contacts {
	font-size: 18px;
	font-weight: 500;
}

.our_services {

}

.our_services__text {
	text-align: center;
	margin-top: 100px;
}

.our_services__text-title {
	text-transform: uppercase;
	color: #15263e;
	font-size: 58px;
	font-weight: 600;
	margin: 0;
}

.our_services__text-desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 400;
}

.our_services__advantages-list {
	display: flex;
	flex-direction: column;
	padding: 80px 0 130px 0;
}

.our_services__advantages-item {

}

.our_services__advantages-item:last-child {
	padding-top: 80px;
}

.advantages__element-list {
	display: flex;
	justify-content: space-between;
}

.advantages__element-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 25%;
	margin-right: 45px;
}
.advantages__element-item:last-child {
	margin-right: 0;

}

.advantages__element-image {
	background: linear-gradient(49deg, #a21af0 20%, #ff0072 90%);
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 90px;
}

.advantages__element-pic {

}

.advantages__element-text {

}

.advantages__element-title {
	color: #4d4d4d;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05em;

}

.advantages__element-desc {
	color: #494949;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.comments {
	background: url(../img/bg/Layer_4.png) center/cover no-repeat;
	position: relative;
}

.comments__overlay {
	position: absolute;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.30;
}

.comments__container {
	margin: 130px 0 220px 0;
}

.comments__title {
	position: relative;
	display: flex;
	justify-content: center;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 80px;

}

.comments__title-text {
	font-size: 58px;
	font-weight: 600;
	margin: 0;
}

.comments__content {
	position: relative;
	color: #ffffff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comments__content-text {
	width: 40%;
}

.comments__content-desc {
	text-align: right;
	font-size: 18px;
	font-weight: 300;
	line-height: 2em;
	letter-spacing: 0.08em;
}

.comments__content-text::before {
	content: '\275B''\275B';  
    font-size: 70px; 
    font-weight: 300; 
    text-align: center;  
    line-height: 42px;  
    color: #fff;   
    float: left;  
    position: relative;  
    bottom: 20px;  
    right: 50px;

}

.comments__content-text::after {
	content: '\275C''\275C';  
    font-size: 70px;  
    text-align: center;  
    line-height: 42px;  
    color: #fff;  
    float: right;  
    position: relative;  
    top: 10px;
    left: 80px;
    font-weight: 300; 

}

.comments__content-user {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 50px;

}

.user__image {
	position: relative;
	width: 150px;
	margin: 0 50px;
}

.user__image::before {
	position: relative;
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border:10px solid #ffffff;
	border-radius: 50%;
}

.user__image-pic {
	width: 100%;
	display: block;
	margin: 0;
}

.user__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user__text-name {
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

.user__text-prof {
	font-size: 18px;
	color: #c714d5;
}

.portfolio {
	padding: 110px 0 130px 0;
}

.portfolio__title {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	text-align: center;
	flex-direction: column;
}

.portfolio__title-text {
	font-size: 58px;
	font-weight: 600;
	margin: 0;
	color: #15263e;
	text-transform: uppercase;
}

.portfolio__title-desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 400;
}

.portfolio__content {
	display: flex;
	justify-content: center;
}

.portfolio__nav-list {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
	margin-top: 15px;
}

.portfolio__nav-item {
	font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 1.5em;

}

.portfolio__nav-link {
	color: #4d4d4d;
}

.portfolio__gallery-list {
	display: flex;
}

.portfolio__gallery-item {
	margin-right: 30px;
}

.portfolio__gallery-item:last-child {
	margin-right: 0;
}

.gallery__images-list {
	display: flex;
	flex-direction: column;
	
}

.gallery__images-item {
	width: 465px;
	height: 349px;
	margin-bottom: 30px;

}

.gallery__images-item:last-child {
	margin-bottom: 0;

}

.gallery__images-pic {
	width: 100%;
	object-fit: none;
}

.experience {
	background: linear-gradient(49deg, #a21af0 20%, #ff0072 90%);
	padding: 120px 0 130px 0;
}

.experience__title {
	display: flex;
	justify-content: center;
	margin-bottom: 120px;
	text-align: center;
	flex-direction: column;
}

.experience__title-text {
	font-size: 58px;
	font-weight: 600;
	margin: 0;
	color: #ffffff;
	text-transform: uppercase;
}

.experience__title-desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #ffffff;
	font-size: 20px;
}

.experience__content {
	display: flex;
	flex-direction: column;
}

.experience__adviser {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	margin-bottom: 100px;
}

.experience__adviser:last-child {
	margin-bottom: 0;
}

.experience__adviser_right {
	flex-direction: row-reverse;
}



.experience__adviser-title {
	display: flex;
	flex-direction: column;
	text-align: right;
	text-transform: uppercase;

}

.experience__adviser-title_right {
	text-align: left;
}

.adviser__title-main {
	font-size: 28px;
	font-weight: 600;
	margin: 0;
}

.adviser__title-year {
	font-size: 24px;
	font-weight: 600;
}

.experience__adviser-sep {
	width: 16px;
	height: 62px;
	background-color: #ededed;
}

.experience__adviser-desc {
	width: 70%;
	font-size: 16px;
}

.experience__adviser-desc_right {
	text-align: right;
}

.adviser__desc-par {
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 16px;
}

.blog {
	padding: 100px 0 120px 0;
}

.blog__title {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	text-align: center;
	flex-direction: column;
}

.blog__title-text {
	font-size: 58px;
	font-weight: 600;
	margin: 0;
	color: #15263e;
	text-transform: uppercase;
}

.blog__title-desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #4d4d4d;
	font-size: 20px;
}

.blog__news-list {
	display: flex;
	justify-content: space-between;
}

.blog__news-item {
	display: flex;
	flex-direction: column;
	width: 29%;
}

.news__image {
	width: 100%;
}

.news__pic {
	width: 100%;
}

.news__content-pre {
	font-size: 18px;
	text-transform: uppercase;
	color: #929292;
	margin: 30px 0 0 0;
}

.news__content-title {
	font-size: 22px;
	color: #15263e;
	margin: 8px 0 14px 0;
}

.news__content-desc {
	font-weight: 400;
	letter-spacing: 0.08em;
	font-size: 16px;
	color: #494949;
}

.contact_us {
	background: url(../img/bg/Layer_9.png) center/cover no-repeat;
	position: relative;
}

.contact_us__overlay {
	position: absolute;
    width:100%;
    height:100%;
    background-color:#e7e7e7;
    opacity:0.6;
}

.contact_us__container {
	position: relative;
	width: 90%;
	margin: 80px auto;
	max-width: 1150px;
	background-color: #15263e;
	color: #ffffff;
}


.contact_us__title {
	display: flex;
	justify-content: center;
	padding: 60px 0 70px 0;
	text-align: center;
	flex-direction: column;
}

.contact_us__title-text {
	font-size: 58px;
	font-weight: 600;
	margin: 0;
	color: #ffffff;
	text-transform: uppercase;
}

.contact_us__title-decs {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #ffffff;
	font-size: 20px;
}

.contact_us__form {
	padding-bottom: 70px;
}

.contact_us__form-block {
	display: flex;
	flex-direction: column;
}

.contact_us__form-main {
	display: flex;
	justify-content: space-between;
}

.contact_us__form-name {
	width: 31%;
}

.contact_us__form-input {
	width: 100%;
	padding: 15px 0 15px 14px;
	font-size: 18px;
}
.contact_us__form-phone {
	width: 31%;
}

.contact_us__form-Email {
	width: 31%;
}

.contact_us__form-message {
	display: flex;
	width: 100%;
	margin: 25px 0;
}

.contact_us__message-input {
	overflow: auto;
	resize: none;
	padding: 8px 0 20px 14px;
	width: 100%;
	font-size: 18px;
	height: 120px;
}

.contact_us__form-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.contact_us__form-btn-link {
	padding: 25px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
	background: linear-gradient(49deg, #a21af0 30%, #ff0072 80%);
	font-size: 22px;
	border: 0;
	font-weight: 600;
}