* {
    box-sizing: border-box; 
}

html, body{
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42; 
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main__overlay {
    position: absolute;
    width:100%;
    height:100vh;
    background-color:#232d50;
    opacity:0.78;
}

.main {
    height: 100vh;
    min-height: 650px;
    background: url(../img/bg/Layer_2.png) center/cover no-repeat;
    color: #ffffff;
    position: relative;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1400px;
	
}

.header {
	background-color: #15263e;
	position: relative;
}

.nav__list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0;
	letter-spacing: 0.1em;
	font-size: 20px;
}

.nav__link {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}

.nav__item::after {
	content: "-";
	font-weight: 800;

}

.nav__item:last-child::after {
	content: "";
	margin: 0;
}

.main__content {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	text-transform: uppercase;
	font-weight: 200;
}


.main__text {

}

.main__prediction {
	font-size: 56px;
	font-weight: 600;
	margin: 5px 0;
	line-height: 1;
	word-spacing: 0.2em;
	letter-spacing: 0.1em;

}
.main__title {

}

.main__title-firstpart {
	font-size: 170px;
	font-weight: 600;
	margin: 5px 0;
	line-height: 0.8;
	letter-spacing: 0.05em;
	background: linear-gradient(49deg, #a21af0 40%, #ff0072 60%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.main__title-secondpart {
	font-size: 80px;
	font-weight: 600;
	margin: 5px 0;
	line-height: 1;
	letter-spacing: 0.3em;
}

.main__desc {
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0;
	line-height: 0.5;
	word-spacing: 0.3em;
}

.main__btn {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main__btn-link {
	padding: 20px 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
	background: linear-gradient(49deg, #a21af0 30%, #ff0072 80%);
	font-size: 22px;
	
}

.about__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 0;
	background: url(../img/bg/Layer_3.png) center/contain no-repeat;
}

.about__content-text {
	width: 30%;
	min-width: 200px;
	text-align: right;
}

.about__title {
	text-transform: uppercase;
	font-size: 42px;
	margin-bottom: 0;
	line-height: 0.8em;
	color: #15263e;
}

.about__title-prediction {
	text-transform: uppercase;
	font-size: 24px;
	color: #a21af0;
	letter-spacing: 0.1em;
	margin: 0;
	padding-bottom: 35px;
}

.about__desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.08em;
	color: #494949;
}

.about__content-statistic {
	width: 25%;
	min-width: 200px;
}

.about__statistic-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #4d4d4d;
}

.about__statistic-item {
	padding: 22px 0;

}

.about__statistic-value {
	text-transform: uppercase;
	font-size: 24px;
	padding-bottom: 15px;

}

.about__statistic-line {
	height: 16px;
	background: linear-gradient(49deg, #a21af0 40%, #ff0072 60%);
	border-radius: 15px;
}

.about__info {
	background-color: #dcdcde;
	padding: 50px;
}

.about__info-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__info-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info__image {
	background-color: #374362;
	width: 80px;
	height: 80px;
	border-radius: 50px;
}

.info__pic {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.info__text {
	color: #4d4d4d;
	padding-left: 30px;
}

.info__title {
	text-transform: uppercase;
	font-size: 22px;


}

.info__contacts {
	font-size: 18px;
	font-weight: 500;
}

.our_services {

}

.our_services__text {
	text-align: center;
	margin-top: 100px;
}

.our_services__text-title {
	text-transform: uppercase;
	color: #15263e;
	font-size: 58px;
	font-weight: 600;
	margin: 0;
}

.our_services__text-desc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.06em;
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 400;
}

.our_services__advantages-list {
	display: flex;
	flex-direction: column;
	padding: 80px 0 130px 0;
}

.our_services__advantages-item {

}

.our_services__advantages-item:last-child {
	padding-top: 80px;
}

.advantages__element-list {
	display: flex;
	justify-content: space-between;
}

.advantages__element-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 25%;
	margin-right: 45px;
}
.advantages__element-item:last-child {
	margin-right: 0;

}

.advantages__element-image {
	background: linear-gradient(49deg, #a21af0 20%, #ff0072 90%);
	width: 110px;
	height: 110px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 90px;
}

.advantages__element-pic {

}

.advantages__element-text {

}

.advantages__element-title {
	color: #4d4d4d;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.05em;

}

.advantages__element-desc {
	color: #494949;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.comments {
	background: url(../img/bg/Layer_4.png) center/cover no-repeat;
	position: relative;
}

.comments__overlay {
	position: absolute;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity:0.30;
}

.comments__container {
	margin: 130px 0 220px 0;
}

.comments__title {
	position: relative;
	display: flex;
	justify-content: center;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 80px;

}

.comments__title-text {
	font-size: 58px;
	font-weight: 600;
	margin: 0;
}

.comments__content {
	position: relative;
	color: #ffffff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comments__content-text {
	width: 40%;
}

.comments__content-desc {
	text-align: right;
	font-size: 18px;
	font-weight: 300;
	line-height: 2em;
	letter-spacing: 0.08em;
}

.comments__content-user {
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 50px;

}

.user__image {
	position: relative;
	width: 150px;
	margin: 0 50px;
}

.user__image::before {
	position: relative;
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border:10px solid #ffffff;
	border-radius: 50%;
}

.user__image-pic {
	width: 100%;
	display: block;
	margin: 0;
}

.user__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user__text-name {
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}

.user__text-prof {
	font-size: 18px;
	color: #c714d5;
}
